/*Global CSS*/

body {
	font-family:'Roboto', sans-serif;
	position: relative;

}

.btn-top {
	position:fixed;
	bottom: 50px;
	right: 50px;
	background: #fb414e;
	color: #ffffff;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Source Sans Pro', sans-serif;
}

p {
	margin-bottom:0 !important;
}

/*Banner Section CSS*/

header {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/banner-bg.png);
	min-height: 650px;
	background-size: cover;
	background-position: center;
	
}

header .navbar {
	padding-top: 22px;
}

header .navbar .nav-item {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-left: 20px;
}

header .navbar .nav-item .nav-link {
	color: #ffffff;
	transition:0.5s linear;
}

header .navbar .nav-item .nav-link:hover {
	color: #ffffff;
	border-bottom: 1px solid #FB414E;
}

header .navbar .nav-item.active .nav-link {
	color: #ffffff;
	border-bottom: 1px solid #FB414E;
}


.hero-area {
	color: #ffffff;
	text-align: center;
	margin-top: 80px;
}
.hero-area h1 {
	font-weight: 700;
	padding-left: 17%;
	padding-right: 17%;
	margin-bottom: 30px;
}
.hero-area p {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 23%;
	padding-right: 23%;
	line-height: 1.7;
	margin-bottom: 50px !important;
}
.hero-area .btn-cta {
	color: #ffffff;
	background: #FB414E;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 0;
	margin-left: 10px;
	margin-right: 10px;
}
.hero-area .btn-cta:hover {}
.hero-area .btn-ghost {
	color: #ffffff;
	border: 1px solid #FB414E;
	border-radius: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.hero-area .btn-ghost:hover {
	background: #FB414E;
}



/*Service Section CSS Start*/

.service {
	padding-bottom:80px;
	margin-top: -80px;
	overflow:hidden;
}
.service .box {
	background: #252E34;
	color: #ffffff;
	padding: 15%;
	position:relative;
	z-index: 1;
}

.service .box img {
	margin-bottom: 20px;
}
.service .box h5 {
	font-weight: 700;
	margin-bottom: 30px;
}
.service .box .white-line {
	height: 3px;
	background: #ffffff;
	width: 50px;
	margin-bottom: 30px;
}
.service .box p {}

.service .box::after {
	content:"";
	position:absolute;
	background: #FB414E;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transition:0.4s linear;
	transform:scale(0);
	transform-origin:top left;
}

.service .box:hover::after {
	transform:scale(1);
	transform-origin:bottom right;
} 

/*Works Section CSS Start*/

.works {
    padding: 80px 0;
}
.works h6 {
    text-align: center;
    color: #FB414E;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.works h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}
.works .hilight {
    color: #FB414E;
}
.works p {
    text-align: center;
    padding: 0 19px;
    color: #8D8D8D;
    margin-bottom: 60px !important;
}


.works .box {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
}
.works .box img {
    margin-bottom: 20px;
}
.works .box h3 {
    font-weight: 700;
    margin-bottom: 30px;
}
.works .box p {
    padding: 0 5%;
    margin-bottom: 0 !important;
}


/*About us Section CSS start*/

.about {
    background: #202b30;    
    color: #ffffff;
    padding: 80px 0;
    
}
.about h3 {
    margin-bottom: 30px;
    padding-right: 10%;
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
}
.about p {
    padding-right: 8%;
    line-height: 1.7;
    margin-bottom: 50px !important;
}
.about .btn-custom {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 7px 50px;
    position:relative;
    z-index: 1;
}

.about .btn-custom::after {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform:scale(0);
	transform-origin:left;
	background:#FB414E;
	z-index: -1;
	border: 1px solid #fb414e;
	transition:0.4s linear;
}


.about .btn-custom:hover::after {
	transform:scale(1);
	transform-origin:right;
}


/*Feature Section CSS Start*/

.feature {
	padding: 80px 0px 40px;
}
.feature .box {
	margin-bottom: 40px;
}

.feature .box h5 {
	font-weight: 700;
	margin-bottom: 12px;
}

.feature .box p {
	line-height: 1.7;
	color: #838383;
	padding-right: 5%;
}

.feature .right {
    margin-left: 5%;
}

.feature .right h3 {
	font-weight: 700;
	font-size: 35px;
	padding-right: 10%;
	margin-bottom: 40px;
}

.feature .right p {
	color: #838383;
	margin-bottom: 20px !important;
	line-height: 1.7;
}

/*Branding Section CSS Start*/

.branding {
    background: #202b30;    
    padding: 80px 0px;
}

.branding .box {}

.branding .image1 {
   margin-top: 22px;
   margin-bottom: 60px;
}
.branding .image2{
    text-align: right;
}
.branding .image3{
    
}
.branding .image4{
    margin-top: 28px;
}

.branding h3 {
	color:#ffffff;
    font-weight: 700;
    font-size:35px;
    text-align:right;    
    margin-bottom:30px;
}
.branding p {
    color: #838383;
    text-align:right;
    line-height: 1.7;
    padding-left:6%;
    margin-bottom: 20px !important;
}

/*Design Section CSS Start*/

.design {	
	background:#f8f8f8;
}

.design .left-box {
    padding: 50px 0px;
}


.design h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.design p {
    color: #838383;
    line-height: 1.7;
    margin-bottom: 40px !important;
}

.design .box {}
.design .box img {
    margin-bottom: 20px;
}
.design .box h5 {
    font-size: 22px;
}
.design .box p {
    margin-bottom: 0 !important;
}

.design .right-box {
    background-position: center bottom;
    background: url(../images/woman-table.png);
    min-height: 560px;
    background-size: cover;
}

/*Contact Section CSS Start*/

.contact {}
.contact h3 {}
.contact p {}
.contact form {}
.contact form .form-row {}
.contact form .form-control {}
.contact form .btnSubmit {}
.contact form .btnSubmit:hover {}/*Global CSS*/

body {
	font-family:'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'Source Sans Pro', sans-serif;
}

p {
	margin-bottom:0 !important;
}

/*Banner Section CSS*/

header {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/banner-bg.png);
	min-height: 650px;
	background-size: cover;
	background-position: center;
	
}

header .navbar {
	padding-top: 22px;
}

header .navbar .nav-item {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 20px;
	margin-left: 20px;
}

header .navbar .nav-item .nav-link {
	color: #ffffff;
	transition:0.5s linear;
}

header .navbar .nav-item .nav-link:hover {
	color: #ffffff;
	border-bottom: 1px solid #FB414E;
}

header .navbar .nav-item.active .nav-link {
	color: #ffffff;
	border-bottom: 1px solid #FB414E;
}


.hero-area {
	color: #ffffff;
	text-align: center;
	margin-top: 80px;
}
.hero-area h1 {
	font-weight: 700;
	padding:0 17%;
	margin-bottom: 30px;
}
.hero-area p {
	padding-top: 0;
	padding-bottom: 0;
	padding:0 23%;
	line-height: 1.7;
	margin-bottom: 50px !important;
}
.hero-area .btn-cta {
	color: #ffffff;
	background: #FB414E;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 0;
	margin-left: 10px;
	margin-right: 10px;
}
.hero-area .btn-cta:hover {}
.hero-area .btn-ghost {
	color: #ffffff;
	border: 1px solid #FB414E;
	border-radius: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 10px;
	margin-right: 10px;
}
.hero-area .btn-ghost:hover {
	background: #FB414E;
}



/*Service Section CSS Start*/

.service {
	padding-bottom:80px;
	margin-top: -80px;
}

.service .box {
	background: #252E34;
	color: #ffffff;
	padding: 15%;
	position:relative;
	z-index: 1;
}

.service .box img {
	margin-bottom: 20px;
}
.service .box h5 {
	font-weight: 700;
	margin-bottom: 30px;
}
.service .box .white-line {
	height: 3px;
	background: #ffffff;
	width: 50px;
	margin-bottom: 30px;
}
.service .box p {}

.service .box::after {
	content:"";
	position:absolute;
	background: #FB414E;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	transition:0.4s linear;
	transform:scale(0);
	transform-origin:top left;
}

.service .box:hover::after {
	transform:scale(1);
	transform-origin:bottom right;
} 

/*Works Section CSS Start*/

.works {
    padding: 80px 0;
}
.works h6 {
    text-align: center;
    color: #FB414E;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
}
.works h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}
.works .hilight {
    color: #FB414E;
}
.works p {
    text-align: center;
    padding: 0 19px;
    color: #8D8D8D;
    margin-bottom: 60px !important;
    line-height:1.7;
}


.works .box {
    text-align: center;
    padding: 0;
    margin-bottom: 40px;
}
.works .box img {
    margin-bottom: 20px;
}
.works .box h3 {
    font-weight: 700;
    margin-bottom: 30px;
}
.works .box p {
    padding: 0 5%;
    margin-bottom: 0 !important;
}


/*About us Section CSS start*/

.about {
    background: #202b30;    
    color: #ffffff;
    padding: 80px 0;
    
}
.about h3 {
    margin-bottom: 30px;
    padding-right: 10%;
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
}
.about p {
    padding-right: 8%;
    line-height: 1.7;
    margin-bottom: 50px !important;
}
.about .btn-custom {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0;
    padding: 7px 50px;
    position:relative;
    z-index: 1;
}

.about .btn-custom::after {
	content:"";
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform:scale(0);
	transform-origin:left;
	background:#FB414E;
	z-index: -1;
	border: 1px solid #fb414e;
	transition:0.4s linear;
}


.about .btn-custom:hover::after {
	transform:scale(1);
	transform-origin:right;
}

.about .image-box {

}

/*Feature Section CSS Start*/

.feature {
	padding: 80px 0px 40px;
}
.feature .box {
	margin-bottom: 40px;
}

.feature .box h5 {
	font-weight: 700;
	margin-bottom: 12px;
}

.feature .box p {
	line-height: 1.7;
	color: #838383;
	padding-right: 5%;
}

.feature .right {
    margin-left: 5%;
}

.feature .right h3 {
	font-weight: 700;
	font-size: 35px;
	padding-right: 10%;
	margin-bottom: 40px;
}

.feature .right p {
	color: #838383;
	margin-bottom: 20px !important;
	line-height: 1.7;
}

/*Branding Section CSS Start*/

.branding {
    background: #202b30;    
    padding: 80px 0px;
}

.branding .box {}

.branding .image1 {
   margin-top: 22px;
   margin-bottom: 60px;
}
.branding .image2{
    text-align: right;
}
.branding .image3{
    
}
.branding .image4{
    margin-top: 28px;
}

.branding h3 {
	color:#ffffff;
    font-weight: 700;
    font-size:35px;
    text-align:right;    
    margin-bottom:30px;
}
.branding p {
    color: #838383;
    text-align:right;
    line-height: 1.7;
    padding-left:6%;
    margin-bottom: 20px !important;
}

/*Design Section CSS Start*/

.design {	
	background:#f8f8f8;
}

.design .left-box {
    padding: 50px 0px;
}


.design h3 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
}

.design p {
    color: #838383;
    line-height: 1.7;
    margin-bottom: 40px !important;
}

.design .box {}
.design .box img {
    margin-bottom: 20px;
}
.design .box h5 {
    font-size: 22px;
}
.design .box p {
    margin-bottom: 0 !important;
}

.design .right-box {
    background-position: center bottom;
    background: url(../images/woman-table.png);
    min-height: 560px;
    background-size: cover;
}

/*Contact Section CSS Start*/

.contact {
    padding: 80px 0px;
}
.contact h3 {
    font-size: 45px;
    font-weight: 700;
    text-align: right;
    padding-left: 10%;
    margin-bottom: 30px;
}
.contact p {
    color: #838383;
    line-height: 1.7;
    text-align: right;
    margin-bottom: 30px !important;
}
.contact form {
    /*margin-left: 60px;*/
    margin-top: 12px;
}
.contact form .form-row {
    margin-bottom: 20px;
}
.contact form .form-control {
    border-radius: 0;
    border: 1px solid;
    padding: 7px;
}
.contact form .btnSubmit {
    background: #fb414e;
    color: #ffffff;
    border-radius:0;
    padding: 10px;
}
.contact form .btnSubmit:hover {}

/*Footer Section CSS Start*/

footer {
    background: #202b30;
    padding: 30px 0px;
}
footer p {
    color: #9aa7ac;
    text-align: center;
    font-size: 14px;
}	